<h2>List of All Chefs:</h2>

<% if @chefs.any? %>
 <ul>
   <% @chefs.each do |chef| %>
     <li>
       <%= link_to chef.name, chef_path(chef) %>
       <%= chef.location %>
     </li>
   <% end %>
 </ul>
<% else %>
 <h2>No chef yet</h2>
<% end %>
