<footer class="site-footer">
  <ul class="footer-info">
    <% if current_client %>
      <li class="li_left">Signed in: <%= current_client.email %> </li>
      <li><span class="pipes">|</span></li>
      <li class="li_right"><%= link_to 'Log Out', destroy_client_session_path, method: :delete %></li>
    <% elsif current_chef %>
      <li class="li_left">Signed in: <%= current_chef.email %></li>
      <li><span class="pipes">|</span></li>
      <li class="li_right"><%= link_to 'Log Out', destroy_chef_session_path, method: :delete %></li>
    <% end %>
    <li><span class="pipes">|</span></li>
    <span class="creators">Site created by: Alex Slye, Yana Kultysheva, Levi Smith and Nick Budhwani</span>

  </ul>


  </footer>
