<h1><%= current_chef.name %>'s Dashboard</h1>

<h3>Your Clients</h3>

<% current_chef.orders.each do |order| %>
  <div>
    <p>Name: <%= order.client.name %></p>
    <p>Location: <%= order.client.location %></p>
  </div>
<% end %>

<% @line_item(params[:line_item_id]).each do |product| %>
  <div>
    <p><%= LineItem.product.name %></p>
  </div>
<% end %>
