<h2>List of All Clients:</h2>

<% if @clients.any? %>
 <ul>
   <% @clients.each do |client| %>
     <li>
       <%= link_to client.name, client_path(client) %>
       <%= client.location %>
       <%= image_tag client.client_avatar.url(:small) %>
     </li>
   <% end %>
 </ul>
<% else %>
 <h2>No clients yet</h2>
<% end %>
