<h1>Clients#show</h1>

<div><%= @client.name %></div>
<div><%= @client.email %></div>
<div><%= @client.location %></div>
<div><%= image_tag @client.client_avatar.url(:small) if @client.client_avatar %></div>
