<li>
  <p><%= rating.review %></p>
  <!-- <p><%= rating.rating %></p> -->
  <!-- <p><div id="rateYo_individual"></div></p> -->




  <% if rating.client != nil %>
    <em> by <%= rating.client.name %></em>
    Added on: <%= rating.created_at %>
  <% end %>
</li>
