

<!-- Small modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">
    Click to view Clients
  </button>

  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <% @chef.orders.each do |order| %>
          <div>
            <ul>
              <li>Name: <%= order.client.name %></li>
              <li>Location: <%= order.client.location %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>

  </div>
