

<!-- Small modal -->
<% @chef.orders.each do |order| %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">
    <%= order.client.name %>
  </button>

  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        Location: <%= order.client.location %>
      </div>
    </div>
  </div>
<% end %>
