

<!-- Small modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">
    Click to view Clients
  </button>

  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">Your Clients</h4>
        </div>
        <% @chef.orders.each do |order| %>
          <div class="modal-styles">
              <p>Name: <%= order.client.name %></p>
              <p>Location: <%= order.client.location %></p>
          </div>
        <% end %>
      </div>
    </div>

  </div>
