/**************************************************************************************************
        DEFAULT TAG STYLES
**************************************************************************************************/



/**************************************************************************************************
        CHEF INFO AREA
**************************************************************************************************/

.chef-header {
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  color: #f2f2f2;
  font-family: 'Shift', sans-serif;
  font-weight: bolder;
}

/**************************************************************************************************
        CHEF DISH'S AREA
**************************************************************************************************/

.dish-box {
  width: 100%;
  background-color: #f2f2f2;
}

/**************************************************************************************************
        CHEF RATING AREA
**************************************************************************************************/



/**************************************************************************************************
        CHEF CURRENT REVIEWS AREA
**************************************************************************************************/
