.chef-order {
  margin: 15px 20% 0 20%;
  padding: 15px 15px 15px 15px;
  background-color: #f2f2f2;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: inline-block;
  border-left: 4px solid #e65c00;
  text-align: center;
  width: 60%;
}

.sub-header {
  padding: 20px 0 15px 15px;
}

.chef-name-main {
  margin-top: 50px;
  padding: 15px;
  text-align: center;
  color: #f2f2f2;
  border-bottom: 2px checked
}

.client-sub {
  border-bottom: 2px solid #4775d1;
  // box-shadow: 2px 2px 5px black;
  padding: 10px;
}

.chef-client-list {
  padding: 15px;
  margin: 15px 20% 0 20%;
  width: 60%;
  text-align: center;
  background-color: #f2f2f2;
  border-left: 4px solid #e65c00;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.chef-map-style {
  border-top: 2px dashed #4775d1;
}

.map-header {
  text-align: center;
}

.sub-list-style {
  list-style: none;
  padding: 0 10px 10px 15px;
}

.img-styles {
  // border-radius: 50%;
  width: 100px;
  height: 100px;
  margin:0 20px -2px 0;
  float: left;
  border-style: groove;
  border-width: thin;
  border: 2px solid #4775d1;
  box-shadow: 2px 2px 5px black;
}

.chef_info {
  margin-top: 7%;
  margin-left: 25%;
}

.sub-name {
  border-bottom: 4px solid #4775d1;
  display: inline-block;
}



.available-chef {
  display: inline-block;
}

th {
  text-align: left;
}

td {
  text-align: left;
}

#wrapper {
  width: 650px;
  margin: 0 auto;
  background-color: rgba(#4775d1, 0.69);
  border-left: 4px solid #e65c00;
  border-right: 4px solid #e65c00;
}
