/**************************************************************************************************
        DEFAULT TAG STYLES
**************************************************************************************************/

// Wrapper styles located in dashboard sass files




/**************************************************************************************************
        CHEF INFO AREA
**************************************************************************************************/

.chef-rating {
  color: #f2f2f2;
}

.chef-header {
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  color: #f2f2f2;
  font-family: 'Shift', sans-serif;
  font-weight: bolder;
}

.chef-show-info {
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
}

.info-content {
  text-align: left;
}

/**************************************************************************************************
        CHEF DISH'S AREA
**************************************************************************************************/

.dish-box {
  width: 100%;
  background-color: #f2f2f2;
  background-image: url(http://i.imgur.com/Qjb41gO.jpg);
  background-size: cover;
}

/**************************************************************************************************
        CHEF RATING AREA
**************************************************************************************************/

.chef-rating-box {

}

.dish-header {
  color: #e65c00;
  font-family: 'Shift', sans-serif;
  font-weight: bolder;
  text-align: center;
  padding: 20px;
}


/**************************************************************************************************
        CHEF CURRENT REVIEWS AREA
**************************************************************************************************/
