
#wrapper {
  width: 650px;
  margin: 0 auto;
  background-color: rgba(#4775d1, 0.69);
  border-left: 4px solid #e65c00;
  border-right: 4px solid #e65c00;
}

.client-header {
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  color: #f2f2f2;
}

.client-info {
  // margin: 60px 0 0 15px;
  // padding: 15px 15px 15px 15px;
  // background-color: #f2f2f2;
  // display: inline-block;
  // border: 2px solid #4775d1;
  // box-shadow: 2px 2px 5px black;
  padding: 15px;
  margin: 20px 20% 0 20%;
  width: 60%;
  text-align: center;
  background-color: #f2f2f2;
  border-left: 4px solid #e65c00;
}

.sub-header {
  padding: 0 0 15px 15px;
}

.map-style {
  // margin: 80px 20% 30px 20%;
  // border: 2px solid #4775d1;
  // box-shadow: 2px 2px 5px black;
  border-top: 2px dashed #4775d1;
}

.sub-list-style {
  list-style: none;
  padding: 0 10px 10px 15px;
}

img {
  // border-radius: 50%;
  width: 100px;
  height: 100px;
  margin:0 20px -2px 0;
  float: left;
  border-style: groove;
  border-width: thin;
  border: 2px solid #4775d1;
  box-shadow: 2px 2px 5px black;
}

.chef_info {
  margin-top: 7%;
  margin-left: 25%;
}

.sub-name {
  border-bottom: 2px solid #4775d1;
  display: inline-block;
}

.sub-exp {
  margin-left: 14%;
}

.available-chef {
  display: inline-block;
}
