// stylesheet for clients/sessions/new.html.erb
body {
  background: #eee !important;
}

.wrapper {
  margin-top: 50px;
  margin-bottom: 30px;

}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;

}

.form-signin-heading {
  color: #e65c00;
  text-align: center;
  font-family: 'Shift', sans-serif;
  font-weight: bolder;
}
.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 30px;
}
.form-signin .checkbox_label {
  font-weight: normal;
}
.checkbox_label .checkbox {
  display: inline;
  text-align: center;
}
.form-signin .form-control {
  text-align: center;
  color: #f2f2f2;
  // background-color: #4775d1;
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.sbutton {
  display: inline-block;
  // padding: 15px 32px;
  font-size: 16px;
  width: 10em;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #e65c00;
  border: 2px solid #black;
  border-radius: 5px;
  box-shadow: 0 2px #9a3d00;
}
// sbutton2 is for the _links.html.erb in clients shared folder
.sbutton2 {
  display: inline-block;
  // padding: 15px 32px;
  font-size: 16px;
  width: 10em;
  margin-left: 240px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #e65c00;
  border: 2px solid #black;
  border-radius: 5px;
  box-shadow: 0 2px #9a3d00;
}
.btn-custom {
  background-color: #4775d1;
  border-radius: 0;
}

.form-control {
  border: none;
  border-radius: 0;
  // color: #e65c00;
}

input {
  color: #e65c00;
}
