.site-footer {
  width: 100%;
  background-color: #4775d1;
}

.footer-info {
  color: white;
  text-decoration: none;
  list-style-type: none;
  display: block;
  margin: 0;
}

footer li a {
  color: white;
}

footer li a:hover {
  color: #e65c00;
}
