.site-footer {
  max-width: 100%;
  height: 25px;
  padding-top: 2px;
  background-color: #4775d1;
  border-top: 1.5px solid #e65c00;
}

.footer-info {
  color: white;
  text-decoration: none;
  list-style-type: none;
  display: block;
  margin: 0;
}

footer li {
  display: inline-block;
}

.li_left {
  margin: auto;
}

.li_right {
  margin-left: auto;
  // background: #e65c00;
}
.li_right:hover {
  background-color: #e65c00;
  border-radius: 2px;
  color: #e65c00;
  text-decoration: none;
  list-style-type: none;
}

footer li a {
  color: white;
}


.pipes {
  font-weight: bolder;;
  color: #e65c00;
  padding-left: 5px;
  padding-right: 5px;
}
.creators {
  float: right;
  margin-right: 10px;
  padding-top: 5px;
  font-size: 8px;
}
