.nav a {
  color: #white;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}
.nav li {
  display: inline;
}
.jumbotron {
  background-color: blue;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron .container {
  position: relative;
  top:100px;
}
.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}
.jumbotron p {
  font-size: 20px;
  color: #white;
}
.learn-more {
}
.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.learn-more a {
  color: #white;
}
.button {
  background-color: #e65c00;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5%;
  font-size: 16px;
  -webkit-transition-duration: 1.0s; /* Safari */
   transition-duration: 1.0s;
   border-radius: 4px;
}
.button {
    background-color: #e65c00;
    border: 2px solid #black;
}
.button:hover {
    background-color: #4d79ff;
    color: white;
}
.login_form {
  list-style: none;
}
.button_login {
  background-color: #e65c00;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin-left: 5px;
  -webkit-transition-duration: .5s; /* Safari */
   transition-duration: .5s;
      border-radius: 4px;
}
.button_login {
    background-color: #e65c00;
    border: 2px solid #black;
}
.button_login:hover {
    background-color: #4d79ff;
    color: white;
}
.button2 {
  background-color: #e65c00;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin-top: 50%;
  font-size: 16px;
  -webkit-transition-duration: 1.0s; /* Safari */
   transition-duration: 1.0s;
   border-radius: 4px;
}
.button2 {
    background-color: #e65c00;
    border: 2px solid #black;
}
.button2:hover {
    background-color: #4d79ff;
    color: white;
}
.text_info {
  text-align: center;
  float: left;
  margin-top: 3%
}
.row {
  text-align: center;
  margin-bottom: 2%
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
