// Shared

@media screen and (max-width: 660px) {
.jumbotron {
  height: 200px;
  margin-bottom: -65%;
  background-image: url(http://i.imgur.com/t186NG1.png);
  border-bottom: 5px;
  border-style: solid;
  border-bottom-color: #e65c00;
  }
.client_avatar {
  visibility: visible;
  display: inline;
  z-index: 5;
  border-color: #f2f2f2;
  border-width: 8px;
  margin-top: 21%;
  background-color: #f2f2f2;
  box-shadow: none;
  margin-left: 31%;
  }
}
// Client Show Page Media Queries

@media screen and (max-width: 660px) {
 .client-info {
   visibility: hidden;
 }
 .client_avatar {
   visibility: visible;
   display: inline;
   z-index: 5;
   border-color: #f2f2f2;
   border-width: 8px;
   margin-top: 21%;
   background-color: #f2f2f2;
   box-shadow: none;
   margin-left: 31%;
 }

 }
 .mobile_profile_info {
   list-style-type:none;
   display: inline;
   position:relative;
   z-index: 1;
 }
 .location_client {

 }
 .email_client {
   position: relative;
   display:inline;
 }
 .Client_purchase_mobile {
   position: relative;
   right: -109px;
   top: -72px;
   display: inline;
   background-color: #e65c00;
   color: white;
   padding-top: 3px;
   padding-bottom: 3px;
   padding-left: 30px;
   padding-right:35px;
   box-sizing: border-box;
   z-index: 1;
 }
 .sub-header-mobile  {
   text-align: center;
 }
 .sub-header2-mobile {
   text-align: center;
 }
 .sub-header3-mobile {
   text-align: center;
   margin-top: 50px;
 }
 #subsc_mobile {
   margin-left: 132px;
   float: none;
 }
 .sub-name-1 {
   text-align: center;
 }
 .order-details-mobile {
   list-style-type: none;
 }
 .details-picture-mobile{
   margin-bottom: 5px;
   margin-left: 43px;
 }


@media screen and (min-width: 0px) and (max-width: 400px) {
  #wrapper { display: none; }  /* show it on small screens */
  .mobile_profile_info {display:visible;}
}

@media screen and (min-width: 401px) and (max-width: 3000px) {
  #wrapper { display: block; }   /* hide it elsewhere */
  .client-info_1         {display: none;}
  .sub-header-mobile     {display: none;}
  .sub-header2-mobile    {display: none;}
  .sub-header3-mobile    {display: none;}
  .order-details-mobile  {display: none;}
  #subsc_mobile          {display: none;}
  .sub-name-1            {display: none;}
  .jumbotron             {display: none;}
}

// End client show page queries

// Chef show page media queries
@media screen and (max-width: 660px) {
  .chef_avatar {
    visibility: visible;
    display: inline;
    z-index: 5;
    border-color: #f2f2f2;
    border-width: 8px;
    margin-top: 43%;
    background-color: #f2f2f2;
    box-shadow: none;
    margin-left: 30%;
    margin-right: 30%;
    height: 150px;
    width: 150px;
  }
  .chef_show_h1 {
    text-align: center;
    margin-top: 5px;
  }
  .chef_experience {
    text-align: center;
  }
  .chef_speciality {
    text-align: center;
  }
  .dishes_h3 {
    text-align: center;
  }
  .product_picture_desktop {
    float: left;
    margin-left: 30px;
  }
  .product_name strong {
    margin-left: 4px;
  }
  .product_description {
    padding-left: 185px;
  }
  .product_price {
    padding-left: 185px;
  }
  .dish_select_label {
    padding-left: 185px;
  }
  .dish_select_box {
    padding-left: 185px;
  }
  .action_desktop {
    margin-left: 30%;
    margin-right: 30%;
  }
  .chef_rating_h4 {
    text-align: center;
  }
  #rateYo {
    margin-top: 10px;
    margin-left: 28%;
  }
  .label_reviews {
    margin-left: 47px;
  }
  .text_area_reviews {
    margin-left: -9px;
  }
  .rating_submit {

  }
  .rating_field_2 {
    margin-left: 30%;
    margin-right: 30%;
  }
  .chef_star_rating {
    text-align: center;
  }
  .rating_field_submit {
    margin-left: 35%;
    margin-right: 30%;
  }
  .reviews_h3 {
    text-align: center;
  }
 ul {
    list-style: none;
  }
}
@media screen and (min-width: 0px) and (max-width: 400px) {
/* show it on small screens */

}

@media screen and (min-width: 401px) and (max-width: 3000px) {
 /* hide it elsewhere */
  .jumbotron {display: none;}

}

// End chef show page queries

// Media Queries for main page
@media screen and (min-width: 0px) and (max-width: 400px) {
  .chef_img {display: none;}
}
