// Shared

@media screen and (max-width: 660px) {
.jumbotron {
  height: 200px;
  margin-bottom: -65%;
  background-image: url(http://i.imgur.com/t186NG1.png);
  border-bottom: 5px;
  border-style: solid;
  border-bottom-color: #e65c00;
  }
.client_avatar {
  visibility: visible;
  display: inline;
  z-index: 5;
  border-color: #f2f2f2;
  border-width: 8px;
  margin-top: 21%;
  background-color: #f2f2f2;
  box-shadow: none;
  margin-left: 31%;
  }
}
// Client Show Page Media Queries

@media screen and (max-width: 660px) {
 .client-info {
   visibility: hidden;
 }
 .client_avatar {
   visibility: visible;
   display: inline;
   z-index: 5;
   border-color: #f2f2f2;
   border-width: 8px;
   margin-top: 21%;
   background-color: #f2f2f2;
   box-shadow: none;
   margin-left: 31%;
 }

 }
 .mobile_profile_info {
   list-style-type:none;
   display: inline;
   position:relative;
   z-index: 1;
 }
 .location_client {

 }
 .email_client {
   position: relative;
   display:inline;
 }
 .Client_purchase_mobile {
   position: relative;
   right: -109px;
   top: -72px;
   display: inline;
   background-color: #e65c00;
   color: white;
   padding-top: 3px;
   padding-bottom: 3px;
   padding-left: 30px;
   padding-right:35px;
   box-sizing: border-box;
   z-index: 1;
 }
 .sub-header-mobile  {
   text-align: center;
 }
 .sub-header2-mobile {
   text-align: center;
 }
 .sub-header3-mobile {
   text-align: center;
   margin-top: 50px;
 }
 #subsc_mobile {
   margin-left: 132px;
   float: none;
 }
 .sub-name-1 {
   text-align: center;
 }
 .order-details-mobile {
   list-style-type: none;
 }
 .details-picture-mobile{
   margin-bottom: 5px;
   margin-left: 43px;
 }


@media screen and (min-width: 0px) and (max-width: 400px) {
  #wrapper { display: none; }  /* show it on small screens */
  .mobile_profile_info {display:visible;}
}

@media screen and (min-width: 401px) and (max-width: 3000px) {
  #wrapper { display: block; }   /* hide it elsewhere */
  .client-info_1         {display: none;}
  .sub-header-mobile     {display: none;}
  .sub-header2-mobile    {display: none;}
  .sub-header3-mobile    {display: none;}
  .order-details-mobile  {display: none;}
  #subsc_mobile          {display: none;}
  .sub-name-1            {display: none;}
  .jumbotron             {display: none;}
}

// End client show page queries

// Chef show page media queries
@media screen and (max-width: 660px) {
  .chef_avatar {
    visibility: visible;
    display: inline;
    z-index: 5;
    border-color: #f2f2f2;
    border-width: 8px;
    margin-top: 21%;
    background-color: #f2f2f2;
    box-shadow: none;
    margin-left: 31%;
  }
}
@media screen and (min-width: 0px) and (max-width: 400px) {
/* show it on small screens */
   .chef_show_h1                 {display: none;}
   .chef_experience              {display: none;}
   .chef_speciality              {display: none;}
   .chef_avatar_mobile           {display: none;}
   .chef_offers_message          {display: none;}
   .product_picture_desktop      {display: none;}
   .field_desktop                {display: none;}
   .action_desktop               {display: none;}
}

@media screen and (min-width: 401px) and (max-width: 3000px) {
 /* hide it elsewhere */
  .jumbotron                     {display: none;}
  .chef_avatar                   {display: none;}
  .chef_name_mobile              {display: none;}
  .chef_experience_mobile        {display: none;}
  .chef_speciality_mobile        {display: none;}
  .chef_subheader_mobile_1       {display: none;}
  .field_mobile                  {display: none;}
  .action_mobile                 {display: none;}
}
