
// html {
//   // background-color: #ff4a56;
//   background-color: #4775d1;
// }
// this is the stylesheet for the nav bar

// html {
//   // background-color: #ff4a56;
//   background-color: #4775d1;
// }

.navbar-nav {
  background-color: blue;
}

.navbar-brand {
  height: 70px;
  width: 200px;
}

.navbar-header {
  background-color: #4775d1;
  color: black;
}

.logo {
  display: inline-block;
  height: 49px;
  width: 152px;
  background-image: url("logo2b.png")
}

.btn {
  background-color: #e65c00;
}

// button tutorial on designmodo.com/3d-css3-button/
