// stylesheet for clients and chefs /password/new.html.erb
@media screen and (max-width: 600px) {
  .password_error_title {
    color: #e65c00;
    text-align: center;
    font-weight: bolder;
  }
  .email_title {
    color: white;
    text-align: center;
    margin-left: 45px;
    font-size: 24px;

  }
  .email_lineup {
    margin-left: 28%;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 601px) {
  .password_error_title {
    color: #e65c00;
    text-align: center;
    font-weight: bolder;
  }

  .email_title {
    color: white;
    text-align: center;
    margin-left: 45px;
    font-size: 24px;
  }
  .email_lineup {
    margin-left: 38%;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 980px) {
}
